[submodule "porrinha-core"]
	path = core
	url = https://github.com/royertiago/porrinha-core
[submodule "porrinha-human"]
	path = porrinha-human
	url = https://github.com/royertiago/porrinha-human
[submodule "porrinha-random"]
	path = porrinha-random
	url = https://github.com/royertiago/porrinha-random
[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch
[submodule "porrinha-wagner"]
	path = porrinha-wagner
	url = https://royertiago@github.com/royertiago/porrinha-wagner
